/* home.css */
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85vh;
  padding: 50px;
  background-image: url("https://cdn.pixabay.com/photo/2023/02/16/03/43/music-player-7792956_640.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.welcome-container {
  text-align: center;
}

.welcome-title {
  font-family: "Madimi One", sans-serif;
  font-size: 4rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
  text-shadow: 1px 8px 3px #000000;
}

.welcome-message {
  font-family: "italic", sans-serif;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  line-height: 1.5;
  margin-bottom: 30px;
  font-weight: bolder;
  text-shadow: 1px 8px 3px #000000;
}

.action-container {
  display: flex;
  justify-content: center; /* Center buttons horizontally */
  gap: 20px; /* Add space between buttons */
}

.action-button {
  background-color: #4caf50; /* Green accent */
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.action-button:hover {
  background-color: #23c62b;
}

@import "~@fortawesome/fontawesome-free/css/all.css";

.some-icon {
  font-size: 24px;
  color: #eee; /* Adjust icon color to match your design */
  margin-right: 5px; /* Adjust spacing as needed */
}
.login-signup {
  color: rgb(0, 0, 0);
  background-color: white;
}
.login-container {
  box-shadow: 0px 0px 20px -1px rgb(0, 0, 0);
  background-color: transparent;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  z-index: 1;
  border-radius: 10px;
}
.signup-container {
  padding: 10px;
  box-shadow: 0px 0px 20px -1px rgb(0, 0, 0);
  background-color: transparent;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  z-index: 1;
  border-radius: 20px;
}
.welcome-container-home {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.welcome-message-home {
  font-family: "italic", sans-serif;
  font-size: 3rem;
  color: rgb(255, 255, 255);
  line-height: 2;
  margin-bottom: 30px;
  font-weight: bolder;
  text-shadow: 1px 5px 3px #958a8a;
}
